*{
    font-family: Roboto,Arial,sans-serif;
    
}
*::-webkit-scrollbar {
    display: none;
  }
.btn , .form-control{
    border-radius: 0px;
}
.my-container{
    width: 90% !important;
    margin: auto;
}
.form-control:focus{
    outline: none;
    border: solid 1px #333238;
    box-shadow: 0px 0px 5px #333238;
}
option {
    color : white;
    transition: all 0.2s ease;
}
.color-primary {
    color:#f6bd90 !important;
}
.color-primary-nav {
    color:#f6bd90 !important;
}
.color-secondary {
    color: #333238 !important;
}
.colorbg-secondary {
    background-color: #333238 ;
}
.colorbg-primary {
    background-color:#f6bd90 !important;
}
/** other colors like the one used for the cart counter **/
.color-alternate{
    color: #828b94 ;
}
.colorbg-alternate{
    background-color: #828b94 ;
}


/* navbar*/
.navbar-brand{
    color: #665543;
    text-align: center;
    transform: translateX(-15px);
    width: 200px;
    font-weight: bolder;
    transition: all 0.2s ease;
}
.navbar-brand:hover{
    color : white !important;
    cursor: pointer;
}
.navbar-nav .nav-link{
    transition: all 0.2s ease;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color : white !important;
    cursor: pointer;
}

.last-item{
    padding-right: 0px !important;
}
.cart-counter{
    transform: translate(-12px , 7px);
}

/* navbar-searchbox */


.search-box{
    transition: all 0.3s ease;
    width: 150px !important ;
    border: solid 1px  #f6bd90;
    background-color:#f6bd90 ;
    border-right: none;
    border-radius: unset;
}
.search-box:focus{
    border: solid 1px  #f6bd90 !important;
    border-right: none !important;
    color:   #f6bd90;
    background-color: #333238 ;
    border-radius: unset;
    box-shadow:none;
}
.search-btn{
    border: solid 1px  #f6bd90;
    border-left: none;
    border-radius: unset;
    color:  white;
    background-color:  #333238 ;
}
.search-btn:hover{
    color:#f6bd90
}

/* mini navbar */
.mini-nav{
    width: 30%;
    margin: auto;
}
.mini-nav ul li{
    transition: all 0.3s ease;
    text-align: center;
}
/* .mini-nav ul li::after{
    
    content: '';
    background-color: #333238;
    height: 1px;
    width: 0px;
}
.mini-nav ul li::before{
    content: '';
    background-color: #333238;
    height: 1px;
    width: 0px;
}
.mini-nav ul li::after:hover{
    background-color: #333238;
    height: 1px;
    width: 100%;
}
.mini-nav ul li::before:hover{
    background-color: #333238;
    height: 1px;
    width: 100%; */
}
.mini-nav ul li:hover{
    /* border: solid 0.5px  #f6bd90; */
    /* color:#f6bd90 !important; */
}
.mini-nav ul li a:hover{
    color : white !important;
}
.mini-nav ul li a{
    font-size: 0.9em;
    letter-spacing: 1px;
}

/* carousel */

.image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    vertical-align: middle;
}
.couresel-custom{
    height: 400px;
}
/*  coarousel fade */
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
/*  coarousel fade */

/* cards */
.card-container{
    width: 80%;
}
.card{
    border-radius: 5px 5px 25px 25px;
}
.card-img-container{
    overflow: hidden;
}
.card-img-container img{
    width: 100%;
    object-fit: cover;
    height: 210px;
}
.card-img{
    object-fit: cover;
}
.add-to-cart-btn{
    color : white ;
}
.add-to-cart-btn:hover{
    background-color: unset ;
    border: 1px solid #333238;
    color : #333238 !important  ;
}
.more-btn{
    border: solid 1px #333238;
    
}

.more-btn:hover{
    background-color: #333238;
    color: #f6bd90 !important;
}

/* product details */
.category{
    transition: all 0.2s ease ;
}
.category:hover{
    font-weight: bold;
    text-decoration: none;
}

.product-btn{
    border: solid 1px #333238;
}
.product-btn:hover{
    border: solid 1px #333238;
    background-color: #333238;
    color: white;
}
input[type = "number"]{
    border: solid 1px #333238;
}
input[type = "number"]:focus{
    outline: none;
    border: solid 1px #333238;
    box-shadow: 0px 0px 5px #333238;
}
.product-image-container{
    overflow: hidden;
}
.product-image-container img{
    border: solid 3px #333238;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* order-detial/cart */

.update-link{
    font-size: 2rem;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    background-color: unset;
}

.update-link:hover{
    transform: translateY(-2px);
}

.my-btn{
    background-color: unset;
    border : solid 1px #333238 ;
    transition: all 0.3s ease;
}

.my-btn:hover{
    background-color: #333238;
    color : white !important;
}

.my-btn-modal:hover{
    background-color: rgba(0, 0, 0, 0.075);
}

textarea:focus{
    outline: none;
    border: solid 1px #333238 !important;
    box-shadow: 0px 0px 5px #333238 !important;
}
input:focus[type = 'text']{
    outline: none;
    border: solid 1px #333238 ;
    box-shadow: 0px 0px 5px #333238 ;
}
.my-active{
    background-color: #333238 ;
    color: white;
}

/* Gift Curating Section */
.instruction-container li {
    width:  800px;
}
.instruction-container a{
    margin-top: 40px !important;
}

.gift-box{
    border: solid 4px #333238;
    height: 70vh;
}

.help{
    top: -25px;
    width: 100%;
/* @media only screen and (max-width: 768px){

    .form-container{
      width: 80% ;
    }
  } */
  